package ${package.dao};

import ${package.model}.${package.modelName};

import java.util.List;

/**
 * @desc
 * @author ${package.author}
 */

public interface ${package.daoName} {
#if (${package.isInitQuery} == 'true')
    ${package.modelName} ${package.initQuery}();
#end
}