<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package.dao}.${package.daoName}">

    <resultMap type="${package.modelName}" id="resultMap"> 
#foreach ($column in ${package.columnList})
	    #if(${column.isPk} == 1)<id #else<result#end property="${column.colName}" column="${column.dbColName}"/>
#end 
    </resultMap>
    
#if (${package.isInitQuery} == 'true')
    <select id="${package.initQuery}" resultMap="resultMap" parameterType="${package.model}.${package.modelName}">
        ${package.initSql} WHERE ${package.pkCondition}
    </select> 
#end

</mapper>